@model LoveMvc.WebMvc.TestDocs.TodosViewModel

@Html.EditorFor(model => model.NewTodoText, new { htmlAttributes = new { @id = "new-todo", @placeholder = "What needs to be done?", @autofocus = "" } })
@e
<div>
    <h4>TodosViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HasTodos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasTodos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreAllDone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreAllDone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewTodoText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewTodoText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
