@model TodoMVC.ViewModels.TodosViewModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>TodosViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsMainVisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMainVisible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFooterVisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFooterVisible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
